body{
    font-family: 'Jost', sans-serif;
}
.logo-imgMob{
  margin-top: 20px;
  width: 75px;
  margin-bottom: 20px;
}
.logo-img{
  margin-top: 20px;
  width: 75px;
  margin-bottom: 20px;
}
.logo-imgQuestino{
  margin-top: 20px;
  width: 75px;
  margin-bottom: 20px;
}
.logo-name{
    margin-left: -34px;
    font-size: 2rem;
}
.sideNav-list{
    padding: 10px;
    padding-left: 20px;
}
.sideNav-list-items{
    padding: 15px 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.sideNav-list-items:hover{
    background: linear-gradient(90.43deg, rgba(180, 136, 90, 0.3) 16.36%, rgba(255, 245, 232, 0) 81.29%);
    color: #B4885A;

}
.sideNav-list-items-text{
  color: #555555;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-decoration: none;
}



.sideNav-list-bottom{
    padding: 10px;
    padding-left: 20px;

}
.sideNav-list-Bottomitems{
    padding: 15px 10px;
    display: flex;
    align-items: center;
    cursor: pointer;

}
.sideNav-list-Bottomitems:hover{
    background: linear-gradient(90.43deg, rgba(180, 136, 90, 0.3) 16.36%, rgba(255, 245, 232, 0) 81.29%);
    color: #B4885A;

}
.sidnav-icons{
  font-size: 22px;
    margin-right: 10px;
    margin-top: 0.25rem;
}
.main-content{
    /* padding-left: 45px; */
    /* padding-bottom: 15px; */
    background-image: linear-gradient(to right, rgb(255 248 255), rgb(249, 234, 218));
}
.topbar{
    padding: 20px 10px;
    border-bottom: 1px solid lightgray;
}
.border-right{
    border-right: 1px solid lightgray;;
}
.robo1{
    width: 240px;
    margin-top: -35px;
}
.edit-icon{
    margin-right: 1rem;
    width: 18px;
    margin-top: -3px;
}
.letter-btn{
    background: #393939;
    border-color: #393939;
    border-radius: 99px;
    min-width: 200px;
    padding: 14px 35px;
    font-size: 14px;
    
}
.letter-btn:hover{
    background: #474747;
    border-color: #474747;
}
.letter-btn:active{
    background: #474747 !important;
    border-color: #474747 !important;
}
.robo2{
    width: 140px;
}
.robo2-card{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.robo3{
    width: 166px;
}
.robo3-card{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.card-body{
    padding: 25px;
}
.goPro-btn{
    padding: 10px 40px;
    border-radius: 99px;
    background: linear-gradient(265.03deg, #B4885A 17.13%, #E7DB6F 55.54%, #B4885A 97.84%);
    border-color: #E7DB6F;
}
.goPro-btn:hover{
  background-color: #DA9D46;
  border-color: #E7DB6F;
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}
.goPro-btn:active{
  background-color: #DA9D46 !important;
  border-color: #E7DB6F !important;
}
.user-imaage{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.user-imaageMob{
  width: 50px;
  height: 50px;
  border-radius: 22%;
}
.mob-nav{
  background-color: #FFFFFF;
  padding: 0px 18px;
  border-radius: 20px;
}
.upgradeBtn{
  background: linear-gradient(265.03deg, #B4885A 17.13%, #E7DB6F 55.54%, #B4885A 97.84%);
    border-radius: 99px;
    border-color:#E7DB6F ;

}
.upgradeBtn:hover{
  background: linear-gradient(265.03deg, #B4885A 17.13%, #E7DB6F 55.54%, #B4885A 97.84%);
  /* background: linear-gradient(95.77deg, #EDB900 0.83%, #ED5500 100%); */
    border-color:#E7DB6F ;
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}
.upgradeBtn:active{
  background: linear-gradient(265.03deg, #B4885A 17.13%, #E7DB6F 55.54%, #B4885A 97.84%);
    border-color:#E7DB6F !important;

}
.upgradepre{
 background: transparent;
 border: none;

}
.upgradepre:hover{
  background: transparent;
  border: none;

}
.upgradepre:active{
  background: transparent;
  border: none !important;

}
.upgrade-icon{
    margin-right: 10px;
    margin-top: -4px;
}
#dropdownMenuButton1{
    cursor: pointer;
}
.page-heading{
    font-weight: 600;
}

.card-text{
    font-size: 15px;
}
.mainCard{
    background-color: #FFF5E8;
    border-radius: 20px;
    border: none;
}
.user-name{
  background: linear-gradient(267.86deg, #B4885A -9.87%, #E7DB6F 40.68%, #B4885A 89.15%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
    font-weight: 700;
}
.secondCard{
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.3);
    margin-bottom: 15px;
    min-height: 298px;
}
.secondCard .card-body{
  padding-bottom: 15px;
}
.thirdCard .card-body{
  padding-bottom: 15px;
}
.thirdCard .row{
  height: 340px;
}
.thirdCard .list-style-type{
  line-height: 2.5;
}
.thirdCard{
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    min-height: 340px;
}
.plan-name{
  background: linear-gradient(267.86deg, #B4885A -9.87%, #E7DB6F 40.68%, #B4885A 89.15%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
    font-weight: 900;
}
.plan-remain{
    font-weight: 900;
    color: #555555;
    margin-bottom: 0;
}
.plan-remain-text{
    font-size: 12px;
    color: #555555;
}
.wantPro-heading{
    font-size: 2rem;
    font-weight: 900;
    background: linear-gradient(267.86deg, #B4885A -9.87%, #E7DB6F 40.68%, #B4885A 89.15%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.list-style-type{
    list-style-image: url(../images/list-icon.png);
}
.pricing-list-style-type{
    list-style-image: url(../images/list-icon.png);
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 38px;
    
  }
  .sideNav{
    z-index: 99;
    background-color: #FFFFFF;
    box-shadow: 0px 30px 60px rgba(0, 0, 0, 2%);
}
  
  

  
   .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #393939;
    display: none;
  }
  
  .openbtn {
    font-size: 25px;
    cursor: pointer;
    background-color: transparent;
    color: #393939;
    /* padding: 10px 15px; */
    border: none;
  }
  
  /* .openbtn:hover {
    background-color: #444;
  } */
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
    display: none;
  }
.upgradeTxt{
    font-size: 13px;
}

/* .progress-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  } */
  .progress{
    height: 10px;
    background-color: #FFF5E8;
    
  }
  
  .progress-bar {
    height: 10px;
    background: linear-gradient(90.59deg, #B4885A -20.34%, #E7DB6F 40.45%, #B4885A 98.12%);
    width: 5%;
    border-radius: 10px;
  }
  
  .progress-text {
font-size: 20px;
font-weight: 500;
    background: linear-gradient(180deg, #B4885A 0%, #E7DB6F 50.52%, #B4885A 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

  }
  
  .step {
    display: none;
    width: 100%;
    transition: transform 1s ease-in-out;
  }
  
  .step.active {
    display: block;
  }
  
  .step.active.from-left {
    transform: translateX(-100%);
  }
  
  .step.active.from-right {
    transform: translateX(100%);
  }
  
  .step.from-left {
    transform: translateX(100%);
  }
  
  .step.from-right {
    transform: translateX(-100%);
  }
  
  h2 {
    margin-top: 0;
  }
  
  input,
  textarea {
    /* width: 100%; */
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  }
  input,
  textarea:focus-visible {
    outline: none;
  }
  .step textarea{
    width: 100%;
  }
  
  /* Slide out left animation */
  .slide-out-left {
    animation-name: slide-out-left;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
  
  @keyframes slide-out-left {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(-100%);
    }
  }
  
  /* Slide in right animation */
  .slide-in-right {
    animation-name: slide-in-right;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
  
  @keyframes slide-in-right {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  /* Slide out right animation */
  .slide-out-right {
    animation-name: slide-out-right;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
  
  @keyframes slide-out-right {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  /* Slide in left animation */
  .slide-in-left {
    animation-name: slide-in-left;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }
  
  @keyframes slide-in-left {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .questions-card{
    border: 1px solid lightgray;
    border-radius: 20px;
    min-height: 500px;
  }
  .next-btn{
    background-color: #393939;
    border: none;
    border-radius: 99px;
    padding: 8px 45px;
    color: white;
  }
  .next-btn:hover{
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
  }
  .prev-btn{
    background-color: #666565a3;
    border: none;
    border-radius: 99px;
    padding: 8px 45px;
    color: white;
    margin-right: 10px;
  }
  .prev-btn:hover{
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
  }
  .refreshBtn{
    background-color: transparent;
    border: none;
      padding: 6px 45px;
      color: white;
      margin-bottom: -47px;
  }
  
  .submit-btn{
    background-color: #393939;
    border-color: #393939;
      border-radius: 99px;
      padding: 8px 45px;
      color: white;
      text-decoration: none;
  }
  .submit-btn:hover{
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
  }
  .refreshBtn:hover{
    background-color: transparent;
    border: none;
    transform: translateY(-1px);
  
  }
  .refreshBtn:active{
    background-color: transparent !important;
    /* border-color: #393939; */
     border:none !important;
  }
  .answerCard{
    border: 1px solid lightgray;
    border-radius: 20px;
    min-height: 500px;
  }
  .answerCard-heading{
    font-weight: 800;
  }
  .answers{
    margin-bottom: .65rem;
  }
  .copyicon-bg{
    background-color: #faece0;
    border-radius: 10px;
    cursor: pointer;
  }
  .tooltiptext-ans1 {
    visibility: hidden;
    width: 85px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 4px 0;
    border-radius: 6px;
    bottom: 84%;
    /* left: 50%; */
    margin-left: -60px;
    position: absolute;
    z-index: 1;
    right: 0;
  }
  .tooltiptext-ans1::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  .copyicon-bg:hover .tooltiptext-ans1{
    visibility: visible;
  }
  .tooltiptext-ans2 {
    visibility: hidden;
    width: 85px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 4px 0;
    border-radius: 6px;
    bottom: 66%;
    /* left: 50%; */
    margin-left: -60px;
    position: absolute;
    z-index: 1;
    right: 0;
  }
  .tooltiptext-ans2::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  .copyicon-bg:hover .tooltiptext-ans2{
    visibility: visible;
  }
  .tooltiptext-ans3 {
    visibility: hidden;
    width: 85px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 4px 0;
    border-radius: 6px;
    bottom: 50%;
    /* left: 50%; */
    margin-left: -60px;
    position: absolute;
    z-index: 1;
    right: 0;
  }
  .tooltiptext-ans3::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  .copyicon-bg:hover .tooltiptext-ans3{
    visibility: visible;
  }
  .tooltiptext-ans4 {
    visibility: hidden;
    width: 85px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 4px 0;
    border-radius: 6px;
    bottom: 33%;
    /* left: 50%; */
    margin-left: -60px;
    position: absolute;
    z-index: 1;
    right: 0;
  }
  .tooltiptext-ans4::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  .copyicon-bg:hover .tooltiptext-ans4{
    visibility: visible;
  }
  .Qnumber{
    font-weight: 800;
  }
  .textarea-roboWraper{
    position: absolute;
    top: 65%;
    right: 15px;
  }
  .textarea-robo{
    width: 90px;
  }
  
  .tabBtns{
    border: 1px solid lightgray;
    padding: 3px 3px;
    border-radius: 10px;
  }
  .nav-pills .monthlyBtn{
    padding: 10px 25px;
    color: #555555;
  }
  .nav-pills .anualyBtn{
    padding: 10px 25px;
    color: #555555;
  }
  .nav-pills .monthlyBtn.active{
    padding: 10px 25px;
    border-radius: 10px;
    font-weight: 600;
    background: linear-gradient(265.03deg, #B4885A 17.13%, #E7DB6F 55.54%, #B4885A 97.84%);
  }
  .nav-pills .anualyBtn.active{
    padding: 10px 25px;
    border-radius: 10px;
    font-weight: 600;
    background: linear-gradient(265.03deg, #B4885A 17.13%, #E7DB6F 55.54%, #B4885A 97.84%);
  }
  .buy-btn{
    background: linear-gradient(265.03deg, #B4885A 17.13%, #E7DB6F 55.54%, #B4885A 97.84%);
    border: none;
    border-radius: 99px;
    padding: 10px 25px;
    width:100%
  }
  .buy-btn:hover{
    background: linear-gradient(265.03deg, #B4885A 17.13%, #E7DB6F 55.54%, #B4885A 97.84%);
    border: none;
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
  }
  .buy-btn:focus{
    background: linear-gradient(265.03deg, #B4885A 17.13%, #E7DB6F 55.54%, #B4885A 97.84%);
    border: none;
  }
  .buy-btn:active{
    background: linear-gradient(265.03deg, #B4885A 17.13%, #E7DB6F 55.54%, #B4885A 97.84%) !important;
    border: none;
  }
  .pricing-cards{
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    min-height: 567px;
  }
  .plan-price{
    font-weight: 900;
    background: linear-gradient(264.69deg, #B4885A 13.95%, #E7DB6F 51.85%, #B4885A 92.19%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

    font-size: 70px;
  }
  .plan-duration{
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
  }
  .pricing-cards .card-text{
    font-size: 16px;
    font-weight: 600;
  }
  .pricing-cards:hover{
    background: linear-gradient(265.03deg, #B4885A 17.13%, #E7DB6F 55.54%, #B4885A 97.84%);
    border: none;
  }
  .pricing-cards:hover .card-title{
    color: #FFFFFF;
  }
  .pricing-cards:hover .card-text{
    color: #FFFFFF;
  }
  .pricing-cards:hover .plan-price{
    color: #FFFFFF;
  }
  .pricing-cards:hover .pricing-list-style-type{
    list-style-image:url(../images/pricing-list-white.png)
  }
  .pricing-cards:hover .pricing-list-style-type li{
    color: #FFFFFF;
  }
  .pricing-cards:hover .buy-btn{
    background: #FFFFFF !important;
    color: black;
  }
  table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
}
th {
    background-color: transparent;
}
tr:nth-child(even) {
    background-color: transparent;
}
caption {
    font-size: 1.5em;
    margin-bottom: 10px;
}
table.dataTable th:nth-child(1) {
  width: 20px;
  max-width: 65px;
  /* word-break: break-all; */
  white-space: pre-line;
}
.dataTables_wrapper{
  background-color: transparent;
    padding: 15px 20px;
    border: 1px solid lightgray;
    border-radius: 20px;
    margin-top: 20px;
}
.dataTables_filter{
  display: flex;
  justify-content: end;
}
div#example_paginate{
  display: flex;
  justify-content: end;
}
div#example_length label{
  display: flex;
}
div#example_length label select{
  width: auto;
  margin-left: 5px;
  margin-right: 5px;
}
.trash-icon{
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.modal-content {
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.modal-header {
  background: linear-gradient(to right, rgb(255 248 255), rgb(249, 234, 218));

  color: black;
  border-radius: 20px 20px 0 0;
}

.modal-footer {
  border-radius: 0 0 20px 20px;
}
#cancelBtn{
  background-color: #393939;
  border-color: #393939;
  border-radius: 99px;
  padding: 6px 34px;
  color: white;
  max-width: 115px;
}
#confirmBtn {
  background-color: #393939;
  border: none;
  border-radius: 99px;
  padding: 6px 45px;
  color: white;
  max-width: 115px;

}

#confirmBtn:hover {
  background-color: #393939;
  border: none;
  border-radius: 99px;
  padding: 6px 45px;
  color: white;
}
.vh-50{
  height: 37vh;
}
#blur {
  color: transparent;
  text-shadow: 0 0 8px #000;
  line-height: 1.8;
}
.noBlur{
  line-height: 1.8;
}
.footer {
  position: sticky;
  /* left: 0; */
  /* top: 50%; */
  bottom: 0px;
  width: 100%;
  background: linear-gradient(269.5deg, #B4885A 8.4%, #E7DB6F 50.14%, #B4885A 86.22%);
  color: white;
  text-align: center;
  border-radius: 10px;
  height: 62px;
  /* right: 0; */
}
.templateCard{
  border-radius: 20px;
}

.custom-search {
  position: relative;
  width: 300px;
}
.custom-search-input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px 100px 10px 20px; 
  line-height: 1;
  box-sizing: border-box;
  outline: none;
}
.custom-search-botton {
  position: absolute;
  right: 3px; 
  top: 3px;
  bottom: 3px;
  border: 0;
  background: linear-gradient(269.5deg, #B4885A 8.4%, #E7DB6F 50.14%, #B4885A 86.22%);
  color: #141414;
  outline: none;
  margin: 0;
  padding: 0 10px;
  border-radius: 10px;
  z-index: 2;
}
.footer-txt{
  color: #141414;
}
.btnWraper{
  position: absolute;
top: 50%;
left: 30%;
display: flex;
}
.downloadPdf{
  background: linear-gradient(265.03deg, #B4885A 17.13%, #E7DB6F 55.54%, #B4885A 97.84%);
  border: none;
  border-radius: 15px;
  padding: 20px 45px;
  /* width: 100%; */
  margin-right: 50px;
  color: #141414;
}
.downloadPdf:hover,
.downloadworld:hover{
  transform: translateY(-1px);
    box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}
.downloadworld{
  background: linear-gradient(265.03deg, #B4885A 17.13%, #E7DB6F 55.54%, #B4885A 97.84%);
  border: none;
  border-radius: 15px;
  padding: 20px 45px;
  /* width: 100%; */
  margin-left: 50px;
  color: #141414;
}
.pdfImg{
  margin-right: 10px;
}
.wordImg{
  margin-right: 10px;
}
.logo{
  display: -webkit-flex;
  display: -webkit-box;   
  display: flex;
  align-items: center;
  justify-content: center;
}
a.page-link{
  background-color: transparent !important;
}
.active>.page-link, .page-link.active{
  background-color: #474747 !important;
  border-color: #474747 !important;
}
.checkout-details {
  border: 1px solid #eee;
  padding: 40px;
}
.checkbox-title{
display: flex;
justify-content: space-between;
}
.order-box .title-box {
  padding-bottom: 20px;
  font-size: 22px;
  border-bottom: 1px solid #eee;
}
.order-box .qty {
  position: relative;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.order-box .qty li{
display: flex;
justify-content: space-between;
}
.border-radius{
  border-radius: 20px;
}
.mob-nav{
  display: none;
}
.refresh-icon{
  width: 40px;
  height: 40px;
}


.myslider {
  -webkit-appearance: none;
  background:  #393939;;
  height: 12px;
  box-shadow: none;
  margin-bottom: 0;
  padding: 0;
 }



 .myslider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
			border-radius: 0;
      border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-bottom: 10px solid #393939;
			position: relative;
			bottom: -5px;
  
}


.myslider:hover {
  opacity: 1;
}
.lang-drop{
  color: white;
  background-color: #393939;
  padding: 5px 15px;
  border-radius: 5px;
}
.lang-drop:hover{
  color: white;
}
.lang-drop option{
  background-color: white;
  color: #393939;
}
/* .explain-img{
  width: 650px;
  height: 480px;
} */
#example_wrapper .row .col-sm-12{
  overflow-x: auto;
}
.explain-img-mob{
  display: none;
}
.langDrop-wraper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (min-width:1440px) {
    .main-content{
        height: 100vh;
    }
}
@media screen and (max-width:1200px) {
  .thirdCard .row{
    height: inherit;
  }
  .thirdCard .list-style-type{
    line-height: normal;
  }
}
  @media screen and (max-width:992px) {
 
    #main{
        display: inline-block;
        margin-left: -9px;
    }
    .main-content{
        padding-left: 12px;
        /* padding-bottom: 320px; */
    }
    .sideNav{
        background-color: transparent;
        box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.1);
    }
    .logo{
      justify-content: start;
    }
    .pricing-cards{
      margin-bottom: 15px;
    }
.closebtn {
    display: block;
  }
  .logo-img{
    margin-top: 0;
    margin-left: -23px;
    margin-bottom: 0;
}
  .logo-imgQuestino{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -23px;
}
.logo-imgMob{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -23px;
}
.visaCardImg{
  margin-top: 20px;
}
.dataTables_filter{
  justify-content: start;
  margin-top: 15px;
}
.sideNav-list{
margin-top: 20px;
}
.custom-search-input{
  width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px 67px 10px 10px;
    line-height: 1;
    box-sizing: border-box;
    outline: none;
    font-size: 13px;
}
.custom-search-botton{
  padding: 0px 6px;
  font-size: 13px;
}
.footer-txt{
  font-size: 13px;
}
}
@media screen and (max-width:767px){
  .mob-display{
    display: none !important;
  }
  .mob-nav{
    display: block;
  }
  
}
@media screen and (max-width:660px){
  .explain-img{
  display: none;
  }
  .explain-img-mob{
    display: block;
  }
}
@media screen and (max-width:842px){
  .refreshBtn{
    margin-bottom: 0;
  }
}
@media screen and (max-width:804px){
  .tabBtns{
    flex-wrap: nowrap;
  }
}
@media screen and (max-width:575px) {
    /* .userNav-dropdown{
        display: none !important;
      } */
     
      .btnWraper{
        position: absolute;
    top: 35%;
    left: 15%;
    display: flex;
      }
      .downloadPdf{
        margin-right: 0;
        padding: 10px;
      }
      .downloadworld{
        margin-left: 10px;
        padding: 10px;
      }
      .langDrop-wraper{
        /* justify-content: center; */
        flex-wrap: nowrap;
      }
      .lang-drop{
        padding: 5px 30px;
        font-size: 12px;
      }
      .questions-slider{
        font-size: 12px;
        text-align: center;
        margin-left: 5px;
      }
      .myslider{
        width: 70px;
      }
      .max-question{
        font-size: 12px;
      }
}
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
  }
  .slide {
    display: none;
    transition: max-height 0.5s ease-out;
  }
  
  .slide.show {
    display: block;
  }
.fn-input input[type='text'] {
  overflow: hidden;
  display: none;
  margin-bottom: 1rem;
}
.dn-input input[type='date'] {
  overflow: hidden;
  display: none;
  margin-bottom: 1rem;
}
  