body{
    font-family: 'Jost', sans-serif;
}
.logo-img{
    margin-left: -41px;
}
.logo-name{
    margin-left: -34px;
    font-size: 2rem;
}
.sideNav{
    position: relative;
    min-height: 100vh;
    background: #FFFFFF;
    box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.1);
}
.sideNav-list{
    padding: 10px;
}
.sideNav-list-items{
    padding: 15px 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.sideNav-list-items:hover{
    background: linear-gradient(90.43deg, rgba(180, 136, 90, 0.3) 16.36%, rgba(255, 245, 232, 0) 81.29%);
    color: #B4885A;

}

.sideNav-list-bottom{
    padding: 10px;

}
.sideNav-list-Bottomitems{
    padding: 15px 10px;
    display: flex;
    align-items: center;
    cursor: pointer;

}
.sideNav-list-Bottomitems:hover{
    background: linear-gradient(90.43deg, rgba(180, 136, 90, 0.3) 16.36%, rgba(255, 245, 232, 0) 81.29%);
    color: #B4885A;

}
.sidnav-icons{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    
}
.main-content{
    padding-left: 45px;
    padding-bottom: 30px;
    background-image: linear-gradient(to right, rgb(255 255 255), rgb(249, 234, 218));
}
.topbar{
    padding: 20px 10px;
    border-bottom: 1px solid lightgray;
}
.border-right{
    border-right: 1px solid lightgray;;
}
.robo1{
    width: 230px;
    margin-top: -35px;
}
.edit-icon{
    margin-right: 1rem;
    width: 18px;
    margin-top: -3px;
}
.letter-btn{
    background: #393939;
    border-color: #393939;
    border-radius: 99px;
    padding: 12px 35px;
    font-size: 14px;
    
}
.letter-btn:hover{
    background: #474747;
    border-color: #474747;
}
.robo2{
    width: 140px;
}
.robo2-card{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.robo3{
    width: 166px;
}
.robo3-card{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.card-body{
    padding: 25px;
}
.goPro-btn{
    padding: 10px 40px;
    border-radius: 99px;
    background: linear-gradient(263.63deg, #B4885A 6.5%, #E7DB6F 46.83%, #B4885A 94.5%);
    border-color: #E7DB6F;
}
.goPro-btn:hover{
    background: #474747;
    border-color: #474747;
}
.user-imaage{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.upgradeBtn{
    background: linear-gradient(265.03deg, #B4885A 17.13%, #E7DB6F 55.54%, #B4885A 97.84%);
    border-radius: 99px;
    border-color:#E7DB6F ;

}
.upgradeBtn:hover{
    background: linear-gradient(265.03deg, #B4885A 17.13%, #E7DB6F 55.54%, #B4885A 97.84%);
    border-color:#E7DB6F ;

}
.upgrade-icon{
    margin-right: 10px;
    margin-top: -4px;
}
#dropdownMenuButton1{
    cursor: pointer;
}
.page-heading{
    font-weight: 600;
}

.card-text{
    font-size: 15px;
}
.mainCard{
    background-color: #FFF5E8;
    border-radius: 20px;
    border: none;
}
.user-name{
    background: linear-gradient(to right, #B4885A,#E7DB6F,#E7DB6F,#B4885A);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: 900;
}
.secondCard{
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.3);
}
.thirdCard{
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid #D9D9D9;
    border-radius: 20px;
}
.plan-name{
    background: linear-gradient(to right, #B4885A,#E7DB6F,#E7DB6F,#B4885A);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: 900;
}
.plan-remain{
    font-weight: 900;
    color: #555555;
    margin-bottom: 0;
}
.plan-remain-text{
    font-size: 12px;
    color: #555555;
}
.wantPro-heading{
    font-size: 2.2rem;
    font-weight: 900;
    background: linear-gradient(to right, #B4885A,#E7DB6F,#E7DB6F,#B4885A);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.list-style-type{
    list-style-image: url(../images/list-icon.png);
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
    display: none;
  }
  @media screen and (max-width:992px) {
    .sideNav{
        display: none;
    }
    #main{
        display: block;
    }
}
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
