body{
    background: linear-gradient(to right, rgb(255 248 255), rgb(249, 234, 218));
    margin-top: 20px;
}

.account-block {
    padding: 0;
    background-image: url(../images/robo1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
}
.account-block .overlay {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
}
.account-block .account-testimonial {
    text-align: center;
    color: #fff;
    position: absolute;
    margin: 0 auto;
    padding: 0 1.75rem;
    bottom: 3rem;
    left: 0;
    right: 0;
}

.text-theme {
    background: linear-gradient(267.86deg, #B4885A -9.87%, #E7DB6F 40.68%, #B4885A 89.15%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;


}

.btn-theme {
    padding: 10px 40px;
    border-radius: 99px;
    background: #393939;
    border-color: #393939;
    color: white;
    width: 100%;
}
.btn-theme:hover{
    background: #393939;
    border-color: #393939;
    color: white;
    transform: translateY(-1px);
}
.btn-theme:active{
    background: #393939 !important;
    border-color: #393939 !important;
    color: white !important;
}
#signUpWraper{
    display: none;
}
#loginBtn{
    cursor: pointer;
}
#regBtn{
    cursor: pointer;
}
.socialLinks{
    margin-bottom: 0;
    justify-content: center;
    margin-top: 10px;
}
/* .socialLinks li{
    background: linear-gradient(265.03deg, #B4885A 17.13%, #E7DB6F 55.54%, #B4885A 97.84%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.socialLinks li a i{
   font-size: 30px;
}
.twiter{
    color: #1D9BF0;
}
.linkedIn{
    color: #0a66c2;
}
.google-img{
    width: 30px;
    height: 30px;
}
